body {
  font-family: Arial, sans-serif;
  background-color: #ccc;
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  border-bottom: 3px solid black;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px;
  background-color: #a3a2a2;
}

.job-form {
  width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  margin-top: 50px;

  .form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;

    p {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    input {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    select {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      display: flex;
      flex-direction: column;
    }
  }
}


fieldset {
  border: 0;
  display: inline-flex;


  legend{
    font-size: 20px;
    font-weight: bold;
    margin-left: -16px;
    margin-bottom: -10px;
  }
}

input[type="checkbox"] + label {
    display: inline;
    margin-top: 0;
    font-weight: normal;
}

fieldset label {
  margin-right: 30px;
}

.done {
  background-color: rgb(7, 142, 7);
}

.clear {
  background-color: red;
}


.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #b3acac;
}



