body{
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

.heading{
    display: flex;
    justify-content: center;
    
    border-bottom: 5px solid black;
}

.log{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-left: 430px;

    button{
        margin-left: 20px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: rgb(0, 0, 0);
        color: white;
    }
}


.main{
    margin-top: 59px;
    text-align: center;
    font-size: 40px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}