.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 20px 30px 40px;
    flex-wrap: wrap;
}

.container .cont1, 
.container .cont2 {
    background-color: rgb(20, 20, 20);
    padding: 20px;
    border: none;
    border-radius: 25px;
    margin: 20px; 
}

.container .cont1 {
    border: blue solid 2px;
    box-shadow: 2px 5px 30px 15px blue;
    
}

.container .cont1 button {
    margin-bottom: 50px;
}

.container .cont1 a {
    margin-left: 200px;
    font-size: 12px;
    color: blue;
}

.container .cont2 {
    box-shadow: 2px 5px 30px 15px blue;
    border: blue solid 2px;
    width: 350px;
}

.container .cont2 #name {
    margin-top: -20px;
}

.container .cont2 button {
    margin-bottom: -60px;
}

.container .form {
    background-color: rgb(20, 20, 20);
    height: auto; 
    min-height: 500px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.container .form fieldset {
    padding: 120px 20px; 
}

.container .form legend {
    color: white;
    text-align: center;
    font-size: 25px;
}

.container .form input {
    display: block; 
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(75, 75, 75);
    margin-left: auto;
    margin-right: auto; 
    width: 80%; 
    max-width: 250px;
    color: white;
    transition: transform ease 0.4s;
}

.container .form input:focus{
    transform: scale(1.1);
}

.container .form button {
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    color: white;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(42, 42, 169);
    cursor: pointer;
    transition: transform ease 0.5s;
}

.container .form button:hover {
    transform: scale(1.1);
}

/* Media Queries */

/* Laptops */
@media screen and (max-width: 1200px) {
    .container {
        padding: 50px 20px;
    }
}

/* Tablets */
@media screen and (max-width: 992px) {
    .container {
        flex-direction: column;
        padding: 30px 10px;
    }

    .container .cont1, 
    .container .cont2 {
        width: 90%;
        max-width: 500px;
    }

    .container .form fieldset {
        padding: 80px 20px;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .container {
        padding: 20px 5px;
    }

    .container .cont1, 
    .container .cont2 {
        width: 95%;
        padding: 15px;
        border-radius: 15px;
    }

    .container .form {
        min-height: auto;
    }

    .container .form fieldset {
        padding: 40px 10px;
    }

    .container .form input {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .container .cont1 a {
        margin-left: 0;
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .container .cont1 button,
    .container .cont2 button {
        margin-bottom: 20px;
        width: 100%;
    }

    .container .cont2 #name {
        margin-top: 0;
    }
}

/* Small Mobile */
@media screen and (max-width: 380px) {
    .container .form legend {
        font-size: 20px;
    }
    
    .container .form button {
        width: 100%;
    }
}