*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to bottom, rgb(28, 28, 230), rgb(199, 196, 196));
}

/* header */

.navbar{
    display: flex;
    color: white;
    align-items: center;
    background-color: blue;
    padding: 20px;

    h1{
        margin-right: 1050px;
    }
    a{
        color: white;
        text-decoration: none;
        margin-left: 20px;
    }
}

/* main */

.sec1{
    display: flex;
    
    .main-text{
        color: white;
        margin-top: 80px;
        margin-left: 80px;
        margin-bottom: 80px;
        
        h2{
            font-size: 45px;
        }
        p{
            font-size: 18px;
            margin-top: 15px;
            color: rgb(227, 225, 225);
        }
        button{
            margin-top: 15px;
            padding: 10px 30px 10px 30px;
            background-color: rgb(19, 231, 19);
            color: white;
            font-weight: bolder;
            border: none;
            border-radius: 10px;
        }

        .credit{
            font-size: 12px;
            margin-left: 40px;
            margin-top: 5px;
        }
    }

    .img{

        img{
        height: 350px;
        width: 550px;
        margin-left: 430px;
        margin-bottom: 10px;
        margin-top: 10px;
        }
    }
}


.sec2{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

    h2,p{
        text-align: center;
    }

    .tasks{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        
        .task{
            border: 2px solid rgb(140, 140, 249);
            border-radius: 10px;
            
            img{
                height: 150px;
                width: 250px;
                border-radius: 10px 10px 0 0;
            }
            h3{
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p{
                margin-bottom: 10px;
            }
        }
    }
}


.sec3{
    color: white;

    h2{
        text-align: center;
        margin-top: 20px;
    }

    .cards{
        display: flex;
        justify-content: space-around;

        .card{
            border: 2px solid rgb(140, 140, 249);
            border-radius: 10px;
            background-color: white;
            color: black;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;

            img{
                height: 200px;
                width: 350px;
                border-radius: 10px 10px 0 0;
                
            }

            h5{
                font-size: 18px;
                padding: 10px;
            }
        }
    }
}


.sec4{
    color: white;

    h2{
        text-align: center;
        margin-top: 20px;
    }

    .cards{
        display: flex;
        justify-content: space-around;

        .card{
            border: 2px solid rgb(140, 140, 249);
            border-radius: 10px;
            background-color: white;
            color: black;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;

            img{
                height: 250px;
                width: 350px;
                border-radius: 10px 10px 0 0;
                
            }

            p{
                text-align: start;
                padding: 10px;
            }

            .name{
                text-align: end;
            }
        }
    }
}


.sec5{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

    h2{
        text-align: center;
    }

    .ques{
        display: flex;
        justify-content: space-around;

        p{
            color: rgb(2, 94, 2);
            margin-top: 20px;

            span{
                visibility: hidden;
            }
        }
    }
    
}

footer{
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(227, 225, 225);
}




/* ================= RESPONSIVE ================= */
html, body {
    width: 100%;
    overflow-x: hidden;
}

header, main, footer {
    width: 100%;
    max-width: 100%;
}

/* Remove large side pushing */
.sec1, .sec2, .sec3, .sec4, .sec5 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

/* ================= NAVBAR FIX ================= */
.navbar {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.navbar h1 {
    margin: 0;
}

.navbar a {
    white-space: nowrap;
}

/* ================= LARGE LAPTOPS ================= */
@media (max-width: 1400px) {
    .navbar {
        padding: 20px 40px;
    }
}

/* ================= LAPTOPS ================= */
@media (max-width: 1200px) {
    .navbar {
        padding: 20px;
    }

    .sec1 .img img {
        width: 450px;
        height: auto;
        margin-left: 200px;
    }
}

/* ================= TABLETS ================= */
@media (max-width: 992px) {

    .sec1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sec1 .main-text {
        margin: 60px 0 20px 0;
    }

    .sec1 .img img {
        width: 80%;
        margin: 0;
    }

    .tasks {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

/* ================= PHONES ================= */
@media (max-width: 768px) {

    /* NAVBAR STACK */
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .navbar h1 {
        margin: 0;
    }

    .navbar a {
        display: block;
        margin: 5px 0;
    }

    /* HERO */
    .sec1 .main-text h2 {
        font-size: 30px;
    }

    .sec1 .main-text p {
        font-size: 16px;
    }

    .sec1 .main-text button {
        width: 90%;
    }

    /* CARDS FULL WIDTH */
    .sec3 .card,
    .sec4 .card {
        width: 95%;
    }

    .sec3 .card img,
    .sec4 .card img {
        width: 100%;
        height: auto;
    }

    /* FAQ STACK */
    .sec5 .ques {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

/* ================= SMALL PHONES ================= */
@media (max-width: 480px) {

    .sec1 .main-text h2 {
        font-size: 24px;
    }

    .sec2 h2,
    .sec3 h2,
    .sec4 h2,
    .sec5 h2 {
        font-size: 20px;
    }

    footer p {
        font-size: 13px;
        text-align: center;
    }
}
